main.op-page__main-content
	.op-stack.gap-xl
		header.content-header
			h2
				| Leaderboard
			div.divider
		table.table.table--auto-layout.table--default-density.table--even-striped.table--sticky-header
			thead
				tr
					th
						| Name
					th
						| Total Games
					th
						| Games Won
					th
						| Total Time Played
					th 
						| Winning Percentage
			tbody
				- @leaderboards.each do |leaderboard|
					tr
						td = leaderboard.user_name
						td = leaderboard.total_games
						td = leaderboard.games_won
						td = "#{leaderboard.total_time_played.in_minutes.round} min"
						td
							| #{leaderboard.win_percentage}%
			tfoot