/ # locals: (game_name:, discard_pile:, deck_count:)

div.panel.panel--padded.game-view__game-board
	= render 'game_header', game_name: game_name

	div.panel__content
		div.flex.flex-no-wrap.justify-center.items-center.gap-xl
			div
				h3
					| Discard: #{discard_pile.card_count}
				= image_tag "cards/#{discard_pile.top_card.to_image_name}", alt: "#{discard_pile.top_card.to_s}", class: "playing-card playing-card--xl"
			div
				h3
					| Deck: #{deck_count}
				= image_tag "cards/playing-card-back.jpg", alt: "Back of card", class: "playing-card playing-card--xl"