- if @presenter.can_discard?
	= simple_form_for :turn, url: play_turn_path(@presenter.game), html: { class: "game-actions"} do |f|
		div.op-stack.gap-xs
			= f.input :card,
				as: :select,
				collection: @presenter.discardable_cards_h,
				selected: @presenter.discardable_cards_h.values.first

			/ a button that does not apply 'btn--primary'
			= button_tag "Discard and End Turn", name: "turn[source]", value: "discard", class: "btn btn--destructive"