= turbo_stream_from @presenter.game

- @presenter ||= presenter

/ Note: @presenter.implementation is nil if game is not started yet
- if @presenter.implementation?
    = render @presenter.game
- else 
    = render 'application/lobby'