/ # locals: (game_name:, opponent_users:, players_hash:)

div.panel.panel--padded.game-view__game-board
	= render 'game_header', game_name: game_name
	div.panel__content.op-stack.gap-xs.players
		h3 Players

		- opponent_users.each do |opponent|
			div.players__hand.op-stack.gap-xs
				= render 'go_fish_games/player_accordion', user: opponent, player: players_hash[opponent.id]