= render 'go_fish_games/game_board', game_name: @presenter.game.name, opponent_users: @presenter.opponent_users, players_hash: @presenter.implementation_players_hash
= render 'game_feed', turn_form_partial: 'go_fish_games/turn_form', presenter: @presenter
= render 'hand', cards: @presenter.my_implementation_player.cards
= render 'go_fish_games/extra', books: @presenter.my_implementation_player.books