/ # locals: (game:)

div.panel.panel--padded
	= render 'game_header', game_name: game.name
	div.panel__content.op-stack.gap-xs.players
		h3 Players

		- game.users.each do |user|
			p 
				| #{user.name}

		p 
			| Waiting for more players to join...