/ # locals: (classes: '', my_turn:, current_user_name:)

- all_classes="badge badge--primary #{classes}"

- if my_turn
    div class="#{all_classes}" Your Turn
- else
    div class="#{all_classes}" #{current_user_name}'s Turn