doctype html
html
  head = render 'head'
  
  body.op-page#app
    = render 'sidebar'
    .op-page__main
      = turbo_frame_tag 'modal'
      = yield
    - if content_for?(:sidebar_right)
      aside.op-page__sidebar.op-page__sidebar--right
        = yield :sidebar_right


/ TODO: link manifest